
codes/

datasets/

mnist/

spark/

*.log

*.tgz

sparkgen-bigdl/test/

sparkgen-bigdl/src/sparkgen/sparkgen

sparkgen-bigdl/src/sparkgen/test/

sparkgen-bigdl/src/easyexec/

sparkgen-bigdl/src/config/

*.swp

sparkgen-bigdl/src/setenv.sh

sparkgen-bigdl/setenv.sh

sparkgen-bigdl/results/
